<div class="form-login box">
<h4 class="ml-5">Регистрация</h4>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder:"Имя", class: "form-group" %>
  </div>

  <div class="field">
    <%= f.text_field :phonenumber, autofocus: true, autocomplete: "phonenumber", placeholder:"Номер телефона", class: "form-group" %>
  </div>

  <div class="field">
    <%= f.text_field :address, autofocus: true, autocomplete: "address", placeholder:"Адрес", class: "form-group" %>
  </div>

  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"email", class: "form-group" %>
  </div>

  <div class="field">
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> минимум)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", placeholder:"Пароль", class: "form-group" %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder:"Подтверждение пароля", class: "form-group" %>
  </div>

  <div class="actions">
    <%= f.submit "Зарегестрироваться", class: "btn btn-primary" %>
  </div>
<% end %>
</div>