
@import 'bootstrap';
.btn-primary {
    line-height: 14px;
    font-size: 14px;
    font-weight: 600;
}
.box {
    border: 1px solid #e6e6e6;
    border-radius: 1px;
    padding: 10px 0;
    margin: 0 0 10px;
}
.form {
    padding: 0 40px;
    .btn-primary {
        width: 100%;
        line-height: 14px;
        font-size: 14px;
        font-weight: 600;
    }
    input {
        border: 1px solid #efefef;
    }
    .form-check-label {
        padding: 0;
        font-size: 15px;
        color: #262626
    }
}
.form-login {
    width: 350px;
    form {
        padding: 0 40px;

        .btn-primary {
            // width: 100%;
            line-height: 14px;
            font-size: 14px;
            font-weight: 600;
        }
        input {
            border: 1px solid #efefef;
        }
        .form-check-label {
            padding: 0;
            font-size: 15px;
            color: #139607;
        }
    }
}